/* .owl-carousel img {
    width: 200px;       
    height: 200px;     
    object-fit: contain;
}
.owl-carousel {
    text-align: center;
}

.responsive-img {
    max-width: 100%;  
    height: auto;    
    display: block;  
} */
